main {
    padding: 40px;
}

h1 {
    text-align: center;
    color: #828F9D;
}

form {
    text-align: center;
}

input {
    border-radius: 10px;
    margin-left: 10px;
}

.card {
    margin: 10px 0;
}

.card-general {
    background-color: #001731;
}

.card-result {
    background-color: #001731;
    width: 1000px;
    height: 500px;
}

.card-result-text {
    margin: 10px 10px;
    width: 90%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
}

.result {
    font-weight: bold;
}

.card-result-specific {
    width: 500px;
}